on: [push, pull_request_target]
name: Ensure package

jobs:
  package_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: "Ensure that code has been packaged and commited"
        run: |-
            npm install
            npm run package
            git diff --exit-code dist/index.js || \
              (echo -e "\nPlease run 'npm run package' and commit the results" && exit 1)